/* 基础样式 */
*,
*:before,
*:after{-webkit-box-sizing: border-box; box-sizing: border-box;}
html,body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,input,textarea,p,blockquote,td {margin:0;padding:0;}
html,
body{min-height: 100%; line-height: 1.15; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
html{-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;}
body{margin: 0; position: relative; background: #f1f1f1; font-weight: normal; color: #333; }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,main,nav,section{display: block;}
summary{display: list-item;}
audio,canvas,progress,video{display: inline-block; vertical-align: baseline;}
audio:not([controls]){display: none; height: 0;}
[hidden],
template,script{display: none;}
/* Links ========================================================================== */
a{background-color: transparent; color:#333; -webkit-text-decoration-skip: objects;}
a:focus{outline: none;}
a:active,a:hover{outline: 0;}
/* Text-level semantics ========================================================================== */
ins,a{text-decoration: none;}
abbr[title]{border-bottom: 1px dotted;}
b,strong{font-weight: bold;}
button {background:transparent;border:0 none;}
ol,ul,li {list-style:none;}
i,em{ font-style:normal;}
ul, menu, dir{-webkit-margin-before:0;-webkit-margin-after: 0;-webkit-padding-start:0}
pre{white-space: pre-wrap;}
small{font-size: 80%;}
sub,sup{font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;}
sup{top: -0.5em;}
sub{bottom: -0.25em;}
/* Embedded content ========================================================================== */
img{-webkit-box-sizing: border-box; box-sizing: border-box; vertical-align: middle;  border: 0; }
svg:not(:root){overflow: hidden;}
/* Grouping content ========================================================================== */
figure{margin: 0;}
code,kbd,pre,samp{font-family: Monaco, Menlo, Consolas, "Courier New", "FontAwesome", monospace; font-size: 1em;}
/* Forms ========================================================================== */
fieldset{border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em;}
legend{border: 0; padding: 0; }
button,input,optgroup,select,textarea{color: inherit;  font: inherit;  margin: 0; }
button{overflow: visible;}
button,input{line-height: normal;}
button,select{text-transform: none;}
button,html input[type="button"],
input[type="reset"],
input[type="submit"]{-webkit-appearance: button; cursor: pointer; }
input[type="radio"],
input[type="checkbox"]{cursor: pointer; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }
button[disabled],
html input[disabled]{cursor: default;}
button::-moz-focus-inner,
input::-moz-focus-inner{border: 0; padding: 0;}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{height: auto;}
input[type="search"]{-webkit-appearance: textfield; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration{-webkit-appearance: none;}
textarea{overflow: auto; vertical-align: top; resize: vertical;}
optgroup{font-weight: bold;}
/* Tables ========================================================================== */
table{border-collapse: collapse; border-spacing: 0;}
td,th{padding: 0;}
body,input,textarea,select,button{text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -moz-font-feature-settings: "liga", "kern";}
/*Only phones */
@media only screen and (max-width: 640px){body{word-wrap: break-word; -webkit-hyphens: auto; -ms-hyphens: auto; -moz-hyphens: auto; hyphens: auto;}}
/* Insert */
ins{background: #ffa; color: #333333;}
/** * Mark * Note: Addresses styling not present in IE 8/9. */
mark{background: #ffa; color: #333;}
/** * Abbreviation and definition */
abbr[title],
dfn[title]{cursor: help;}
dfn[title]{border-bottom: 1px dotted; font-style: normal;}
h1,h2,h3,h4,h5,h6{ font-weight: normal; font-size: 100%;}
hr{display: block; padding: 0; border: 0; height: 0; border-top: 1px solid #eeeeee; -webkit-box-sizing: content-box; box-sizing: content-box; }
/* Address */
address{font-style: normal;}
/* Quotes */
blockquote{padding-top: .05rem; padding-bottom: .05rem; padding-left: .15rem; border-left: .04rem solid #ddd; font-family: Georgia, "Times New Roman", Times, Kai, "Kaiti SC", KaiTi, BiauKai, "FontAwesome", serif;}
blockquote small{display: block; color: #999999; font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif; text-align: right;}
blockquote p:last-of-type{margin-bottom: 0;}
/* iframe */
iframe{border: 0;}
/* Forms ========================================================================== */
button,input:not([type="radio"]):not([type="checkbox"]),
select{vertical-align: middle;}

/* 通用样式 */
#wrapper{ height:auto; display:block; max-width:768px;  margin:0 auto;  }

/*IOS 去除边框效果*/
input[type="button"]{-webkit-appearance: none; outline:none; cursor:pointer; border-radius:0;}
input[type="submit"]{-webkit-appearance: none; outline:none; cursor:pointer; border-radius:0;}
input[type="text"]{-webkit-appearance: none; outline:none; cursor:pointer; border-radius:0; }
input[type="number"]{-webkit-appearance: none; outline:none; cursor:pointer; border-radius:0; }
input[type="tel"]{-webkit-appearance: none; outline:none; cursor:pointer; border-radius:0; }

/*移除HTML5 input在type="number"时的上下小箭头*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{ -webkit-appearance: none !important; margin: 0;}
input[type="number"]{-moz-appearance:textfield;}
/* placeholder 默认颜色*/
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #c7c4c4;  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif; font-weight:normal;}
input::-moz-placeholder, textarea:-moz-placeholder { color: #c7c4c4;  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif; font-weight:normal;}
input::-ms-input-placeholder, textarea:-ms-input-placeholder { color: #c7c4c4;  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif; font-weight:normal;}

.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1;}
.clear{clear:both;display:block;height:0;overflow:hidden;font-size:0;}
.fl { float: left}
.fr { float: right}
.hide {display: none;}
.pa {position: absolute}
.pr {position: relative}
.d-block{display: block !important;}
.d-inline-block{display: inline-block !important;}
.d-inline{display: inline !important;}
.text-left{text-align: left !important;}
.text-right{text-align: right !important;}
.text-center{text-align: center !important;}
.text-mid{vertical-align: middle !important;}
.text-justify{text-align: justify !important;}
.text-nowrap{white-space: nowrap !important;}
.text-jd{overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.pos-f-t{position: fixed; top: 0; right: 0; left: 0; z-index: 1030;}

.fw{float:left; width:100%; clear:both;}
.w-100{width: 100% !important;}
.h-100{height: 100% !important;}
.mx-auto{margin-right: auto !important; margin-left: auto !important;}
.m-0{margin: 0 0 !important;}
.mt-0{margin-top: 0 !important;}
.mr-0{margin-right: 0 !important;}
.mb-0{margin-bottom: 0 !important;}
.ml-0{margin-left: 0 !important;}
.mx-0{margin-right: 0 !important; margin-left: 0 !important;}
.my-0{margin-top: 0 !important; margin-bottom: 0 !important;}
.m-10{margin: .1rem .1rem !important;}
.mt-10{margin-top: .1rem !important;}
.mr-10{margin-right: .1rem !important;}
.mb-10{margin-bottom: .1rem !important;}
.ml-10{margin-left: .1rem !important;}
.mx-10{margin-right: .1rem !important; margin-left: .1rem !important;}
.my-10{margin-top: .1rem !important; margin-bottom: .1rem !important;}
.m-15{margin: .15rem .15rem !important;}
.mt-15{margin-top: .15rem !important;}
.mr-15{margin-right: .15rem !important;}
.mb-15{margin-bottom: .15rem !important;}
.ml-15{margin-left: .15rem !important;}
.mx-15{margin-right: .15rem !important; margin-left: .15rem !important;}
.my-15{margin-top: .15rem!important; margin-bottom: .15rem !important;}
.m-20{margin: .2rem .2rem !important;}
.mt-20{margin-top: .2rem !important;}
.mr-20{margin-right: .2rem !important;}
.mb-20{margin-bottom: .2rem !important;}
.ml-20{margin-left: .2rem !important;}
.mx-20{margin-right: .2rem !important; margin-left: .2rem !important;}
.my-20{margin-top: .2rem !important; margin-bottom: .2rem !important;}
.m-30{margin: .3rem .3rem !important;}
.mt-30{margin-top: .3rem !important;}
.mr-30{margin-right: .3rem !important;}
.mb-30{margin-bottom: .3rem !important;}
.ml-30{margin-left: .3rem !important;}
.mx-30{margin-right: .3rem !important; margin-left: .3rem !important;}
.my-30{margin-top: .3rem !important; margin-bottom: .3rem !important;}
.p-0{padding: 0 0 !important;}
.pt-0{padding-top: 0 !important;}
.pr-0{padding-right: 0 !important;}
.pb-0{padding-bottom: 0 !important;}
.pl-0{padding-left: 0 !important;}
.px-0{padding-right: 0 !important; padding-left: 0 !important;}
.py-0{padding-top: 0 !important; padding-bottom: 0 !important;}
.p-10{padding: .1rem .1rem !important;}
.pt-10{padding-top: .1rem !important;}
.pr-10{padding-right: .1rem !important;}
.pb-10{padding-bottom: .1rem !important;}
.pl-10{padding-left: .1rem !important;}
.px-10{padding-right: .1rem !important; padding-left: .1rem !important;}
.py-10{padding-top: .1rem !important; padding-bottom: .1rem !important;}
.p-15{padding: .15rem .15rem !important;}
.pt-15{padding-top: .15rem !important;}
.pr-15{padding-right: .15rem !important;}
.pb-15{padding-bottom: .15rem !important;}
.pl-15{padding-left: .15rem !important;}
.px-15{padding-right: .15rem !important; padding-left: .15rem !important;}
.py-15{padding-top: .15rem !important; padding-bottom: .15rem !important;}
.p-20{padding: .2rem .2rem !important;}
.pt-20{padding-top: .2rem !important;}
.pr-20{padding-right: .2rem !important;}
.pb-20{padding-bottom: .2rem !important;}
.pl-20{padding-left: .2rem !important;}
.px-20{padding-right: .2rem !important; padding-left: .2rem !important;}
.py-20{padding-top: .2rem !important; padding-bottom: .2rem !important;}
.p-30{padding: .3rem .3rem !important;}
.pt-30{padding-top: .3rem !important;}
.pr-30{padding-right: .3rem !important;}
.pb-30{padding-bottom: .3rem !important;}
.pl-30{padding-left: .3rem !important;}
.px-30{padding-right: .3rem !important; padding-left: .3rem !important;}
.py-30{padding-top: .3rem !important; padding-bottom: .3rem !important;}
.pb-100{padding-bottom: 1rem !important;}
.pb-150{padding-bottom: 1.5rem !important;}
.pb-200{padding-bottom: 2rem !important;}
.pb-300{padding-bottom: 3rem !important;}
.mb-100{margin-bottom: 1rem !important;}
.mb-150{margin-bottom: 1.5rem !important;}
.mb-200{margin-bottom: 2rem !important;}
.mb-300{margin-bottom: 3rem !important;}

.border{ border:1px solid #e8e8e8;}
.border-top{ border-top:1px solid #e8e8e8;}
.border-bottom{ border-bottom:1px solid #e8e8e8;}
.border-right{ border-right:1px solid #e8e8e8;}
.border-left{ border-left:1px solid #e8e8e8;}

.f18{font-size:.18rem;}
.f20{font-size:.2rem;}
.f22{font-size:.22rem;}
.f24{font-size:.24rem;}
.f26{font-size:.26rem;}
.f28{font-size:.28rem;}
.f30{font-size:.3rem;}
.f32{font-size:.32rem;}
.f34{font-size:.34rem;}
.f36{font-size:.36rem;}
.f38{font-size:.38rem;}
.f40{font-size:.4rem;}
.f42{font-size:.42rem;}
.f44{font-size:.44rem;}
.f46{font-size:.46rem;}
.f48{font-size:.48rem;}
.f50{font-size:.5rem;}

.color-fff{color:#fff; }
.color-000{color:#000; }
.color-333{color:#333; }
.color-666{color:#666; }
.color-888{color:#888; }
.color-999{color:#999; }
.color-m1{color:#f75e46;}
.color-m2{ color:#1b5bff;}

.bg-fff{ background-color:#fff; } 
.bg-666{ background-color:#666; } 
.bg-f1{ background-color:#f1f1f1; }
.bg-f8{ background-color:#f8f8f8; }
.bg-m1{ background-color:#f75e46;}
.bg-f54{ background-color:#f75e46;}

.fixed-top{position:fixed !important; top:0; max-width:768px; }
.fixed-bottom{position:fixed !important; bottom:0; max-width:768px; width:100%; left:50%; margin-left:-3.84rem;}

.opacity{filter:alpha(opacity=0);-moz-opacity:.0;-khtml-opacity:.0;opacity:.0}
.opacity-small{filter:alpha(opacity=20);-moz-opacity:.2;-khtml-opacity:.2;opacity:.2}
.opacity-middle{filter:alpha(opacity=50);-moz-opacity:.5;-khtml-opacity:.5;opacity:.5}
.opacity-big{filter:alpha(opacity=80);-moz-opacity:.8;-khtml-opacity:.8;opacity:.8}
.opacity-none{filter:alpha(opacity=100);-moz-opacity:1.0;-khtml-opacity:1.0;opacity:1.0}

/*返回顶部*/
#BackToTop { position:fixed; bottom:1.2rem; right:.06rem; padding:.24rem; background:url(../images/totop.png) center center no-repeat; width:.91rem; height:.91rem; background-size:.9rem; z-index:99; display:none; border-radius:100%; }

/*浮动导航*/
#navigation { position:fixed; bottom:1.2rem; left:.06rem; padding:.24rem; background:url(../images/nav.png) center center no-repeat; width:.91rem; height:.91rem; background-size:.9rem; z-index:99;border-radius:100%; }
.navigationList{max-width:7.68rem; z-index:1001; position:fixed; }
.navigationList .navigationBody a{ width:33.33%; float:left; height:1.35rem; text-align:center; color:#fff; margin-bottom:.72rem; }
.navigationList .navigationBody a span{ display:block; margin:0 auto; margin-bottom:.1rem; border-radius:10%; width:.86rem; height:.86rem; border:1px solid #555; }
.navigationList .navigationBody a.nav01 span{ background:url(../images/nav01.png) center center no-repeat; background-size:.46rem; }
.navigationList .navigationBody a.nav02 span{ background:url(../images/nav02.png) center center no-repeat; background-size:.4rem; }
.navigationList .navigationBody a.nav03 span{ background:url(../images/nav03.png) center center no-repeat; background-size:.38rem; }
.navigationList .navigationBody a.nav04 span{ background:url(../images/nav04.png) center center no-repeat; background-size:.47rem; }
.navigationList .navigationBody a.nav05 span{ background:url(../images/nav05.png) center center no-repeat; background-size:.45rem; }
.navigationList .navigationBody a.nav06 span{ background:url(../images/nav06.png) center center no-repeat; background-size:.42rem; }
.navigationList .navigationBody a.nav07 span{ background:url(../images/nav07.png) center center no-repeat; background-size:.42rem; }
.navigationList .navigationBody a.nav08 span{ background:url(../images/nav08.png) center center no-repeat; background-size:.47rem; }
.navigationList .navigationBuy{ margin-top:.24rem; text-align:center;  }
.navigationList .navigationBuy a{ display:block; margin:0 auto; width:3.55rem; height:.86rem; line-height:.86rem; border-radius:.09rem; border:1px solid #555; text-align:center; color:#fff; }
.navigationList .navigationClose{ margin-top:.72rem; }
.navigationList .navigationClose a{ display:block; margin:0 auto; width:.4rem; height:.4rem; background:url(../images/del-nav.png) center center no-repeat; background-size:.4rem; text-indent:-9999px; }

.button-disable{ background:#ccc !important; }
.title-curent { background: url(../images/curent.jpg) left center no-repeat; background-size: .06rem; }
.maskdiv {  position: fixed; left: 0; top: 0;right: 0; bottom: 0; z-index: 60; filter: alpha(opacity=70); opacity: .7; display: block; overflow-x: hidden; overflow-y: auto; background: #000; }
.maskdiv0 {  position: fixed; left: 0; top: 0;right: 0; bottom: 0; z-index: 60; filter: alpha(opacity=0); opacity: 0; display: block; overflow-x: hidden; overflow-y: auto; background: #000; }
.dialog_cover { position:fixed; _position:absolute; left: 0; top: 0; display: block; z-index: 555; width: 100%; height: 100%; filter: alpha(opacity=70); opacity: 0.7; background: #000; }
.dialog-box { width:88%; max-width:7.2rem ;height: auto; border-radius: .2rem; position: relative; opacity:1;}
.dialog-main{ height:auto; display:block; overflow:hidden; }
.dialog-main .dialog-body {text-align: center; font-size: .36rem; padding: .6rem .4rem; line-height: .56rem;}
.dialog-main .dialog-foot {height: 1rem;border-top: 1px solid #e8e8e8;text-align: center}
.dialog-main .dialog-foot a {display: inline-block;height: 1rem;line-height: 1rem;color: #007aff; font-size: .34rem; width: 49%;}

.tab .tab-nav .active a{cursor:default;  }
.tab .tab-body{ float:left; width:100%; position:relative; }
.tab .tab-body .tab-panel{display:none; position:relative}
.tab .tab-body .active{display:block;}

/*页面路由效果*/ 
.sidebarMove {height: 100%;overflow: hidden;animation: sidebar-body-move .5s ease;-webkit-animation: sidebar-body-move .5s ease;position: relative;left: -100%}
.sidebarBack {height: 100%;overflow: hidden; position: relative; animation: sidebar-body-back .50s ease;-webkit-animation: sidebar-body-back .50s ease; left: 0;}
.sidebarMove body {height: 100%;}

@keyframes sidebar-body-move {0% {left: 0}100% {left: -100%}}
@keyframes sidebar-body-back {0% {left: -100%}100% {left: 0}}
@-webkit-keyframes sidebar-body-move {0% {left: 0}100% {left: -100%}}
@-webkit-keyframes sidebar-body-back {0% {left: -100%}100% {left: 0}}

.ConBox {width: 100%;height: 100%; max-width:768px;position: absolute;top: 0;left: 150%;right: 0;margin: 0 -3.84rem;z-index: 2001;overflow-y: scroll; overflow-x:hidden;-webkit-transform-origin: 0px 0px;-webkit-transform: scale(1, 1);opacity: 1;background: #fff; }
.Jbox {width: 100%;background: white;}
.Jbox a {width: 100%;float:left;border-bottom: 1px solid #e8e8e8;text-align:center; height:1rem; line-height:1rem; position: relative; font-size:.3rem;}
/* M站顶部 */
.top-header{ width:100%; max-width:768px; margin:0 auto; position: relative; background-color:#f6f6f6; line-height:.96rem; z-index:50; }
.top-header .top-back{ position: absolute; left: 0; min-width:10%; height:.96rem; }
.top-header .top-back a{display:inline-block; min-width:.55rem; width:100%; height:.96rem; text-indent:-9999px; background:url(../images/left.png) .3rem center no-repeat; background-size: .21rem; }
.top-header h2{ max-width:80%; margin-left:auto; margin-right:auto; height:.96rem; font-weight: normal; line-height:.96rem; text-align:center; white-space:nowrap ; overflow:hidden; -webkit-margin-before: 0; -webkit-margin-after: 0; }
.top-header .top-right{position: absolute; top:0; right: 0; min-width:10%;  height:.96rem;-webkit-text-size-adjust:none; text-align: right;}
.top-header .top-right .back-home{ display:inline-block; height:.96rem; min-width:.75rem; width:100%; text-indent:-9999px; background:url(../images/home.png) 0 center no-repeat; background-size: .45rem; }


/* 底部 */
.footer{float:left; width:100%; line-height:1rem; border-top:1px solid #e8e8e8; background:#fcfcfc; font-size:.32rem; text-align:center; z-index:20;}
.footer ul li{float:left; padding:0; margin:0; border:0;width:20%; font-weight:bold;  }
.footer ul li a{color:#333; display:inline-block; width:100%;}
.footer ul li a.cur{background:#f75e46; color:#fff;  }
.footer .badge{display:inline-block; position:absolute; min-width:.1ren; padding:.06rem .1rem; margin:.2rem 0 0 1px; font-size:.2rem;line-height:1;color:#fff; text-align:center; white-space:nowrap; vertical-align:baseline; background-color:#f75e46; border-radius:2em;}
.footer .badge:empty{display:none}
.footer .active .badge{display:none}

/* 动画样式 */
.animated{-webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both;}
.animated.infinite{-webkit-animation-iteration-count: infinite; animation-iteration-count: infinite;}
.animated.hinge{-webkit-animation-duration: 2s; animation-duration: 2s;}
@-webkit-keyframes fadeIn{from{opacity: 0;} to{opacity: 1;}}
@keyframes fadeIn{from{opacity: 0;} to{opacity: 1;}}
.fadeIn{-webkit-animation-name: fadeIn; animation-name: fadeIn;}
@-webkit-keyframes fadeInDown{from{opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0);} to{opacity: 1; -webkit-transform: none; transform: none;}}
@keyframes fadeInDown{from{opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0);} to{opacity: 1; -webkit-transform: none; transform: none;}}
.fadeInDown{-webkit-animation-name: fadeInDown; animation-name: fadeInDown;}
@-webkit-keyframes fadeInLeft{from{opacity: 0; -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0);} to{opacity: 1; -webkit-transform: none; transform: none;}}
@keyframes fadeInLeft{from{opacity: 0; -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0);} to{opacity: 1; -webkit-transform: none; transform: none;}}
.fadeInLeft{-webkit-animation-name: fadeInLeft; animation-name: fadeInLeft;}
@-webkit-keyframes fadeInRight{from{opacity: 0; -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0);} to{opacity: 1; -webkit-transform: none; transform: none;}}
@keyframes fadeInRight{from{opacity: 0; -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0);} to{opacity: 1; -webkit-transform: none; transform: none;}}
.fadeInRight{-webkit-animation-name: fadeInRight; animation-name: fadeInRight;}
@-webkit-keyframes fadeInUp{from{opacity: 0; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0);} to{opacity: 1; -webkit-transform: none; transform: none;}}
@keyframes fadeInUp{from{opacity: 0; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0);} to{opacity: 1; -webkit-transform: none; transform: none;}}
.fadeInUp{-webkit-animation-name: fadeInUp; animation-name: fadeInUp;}
@-webkit-keyframes fadeOut{from{opacity: 1;} to{opacity: 0;}}
@keyframes fadeOut{from{opacity: 1;} to{opacity: 0;}}
.fadeOut{-webkit-animation-name: fadeOut; animation-name: fadeOut;}
@-webkit-keyframes fadeOutDown{from{opacity: 1;} to{opacity: 0; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0);}}
@keyframes fadeOutDown{from{opacity: 1;} to{opacity: 0; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0);}}
.fadeOutDown{-webkit-animation-name: fadeOutDown; animation-name: fadeOutDown;}
@-webkit-keyframes fadeOutLeft{from{opacity: 1;} to{opacity: 0; -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0);}}
@keyframes fadeOutLeft{from{opacity: 1;} to{opacity: 0; -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0);}}
.fadeOutLeft{-webkit-animation-name: fadeOutLeft; animation-name: fadeOutLeft;}
@-webkit-keyframes fadeOutRight{from{opacity: 1;} to{opacity: 0; -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0);}}
@keyframes fadeOutRight{from{opacity: 1;} to{opacity: 0; -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0);}}
.fadeOutRight{-webkit-animation-name: fadeOutRight; animation-name: fadeOutRight;}
@-webkit-keyframes fadeOutUp{from{opacity: 1;} to{opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0);}}
@keyframes fadeOutUp{from{opacity: 1;} to{opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0);}}
.fadeOutUp{-webkit-animation-name: fadeOutUp; animation-name: fadeOutUp;}
@-webkit-keyframes zoomIn{from{opacity: 0; -webkit-transform: scale3d(.3, .3, .3); transform: scale3d(.3, .3, .3);} 50%{opacity: 1;}}
@keyframes zoomIn{from{opacity: 0; -webkit-transform: scale3d(.3, .3, .3); transform: scale3d(.3, .3, .3);} 50%{opacity: 1;}}
.zoomIn{-webkit-animation-name: zoomIn; animation-name: zoomIn;}
@-webkit-keyframes zoomOut{from{opacity: 1;} 50%{opacity: 0; -webkit-transform: scale3d(.3, .3, .3); transform: scale3d(.3, .3, .3);} to{opacity: 0;}}
@keyframes zoomOut{from{opacity: 1;} 50%{opacity: 0; -webkit-transform: scale3d(.3, .3, .3); transform: scale3d(.3, .3, .3);} to{opacity: 0;}}
.zoomOut{-webkit-animation-name: zoomOut; animation-name: zoomOut;}
@-webkit-keyframes slideInDown{from{-webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); visibility: visible;} to{-webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);}}
@keyframes slideInDown{from{-webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); visibility: visible;} to{-webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);}}
.slideInDown{-webkit-animation-name: slideInDown; animation-name: slideInDown;}
@-webkit-keyframes slideInLeft{from{-webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); visibility: visible;} to{-webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);}}
@keyframes slideInLeft{from{-webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); visibility: visible;} to{-webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);}}
.slideInLeft{-webkit-animation-name: slideInLeft; animation-name: slideInLeft;}
@-webkit-keyframes slideInRight{from{-webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0); visibility: visible;} to{-webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);}}
@keyframes slideInRight{from{-webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0); visibility: visible;} to{-webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);}}
.slideInRight{-webkit-animation-name: slideInRight; animation-name: slideInRight;}
@-webkit-keyframes slideInUp{from{-webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); visibility: visible;} to{-webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);}}
@keyframes slideInUp{from{-webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); visibility: visible;} to{-webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);}}
.slideInUp{-webkit-animation-name: slideInUp; animation-name: slideInUp;}
@-webkit-keyframes slideOutDown{from{-webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);} to{visibility: hidden; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0);}}
@keyframes slideOutDown{from{-webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);} to{visibility: hidden; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0);}}
.slideOutDown{-webkit-animation-name: slideOutDown; animation-name: slideOutDown;}
@-webkit-keyframes slideOutLeft{from{-webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);} to{visibility: hidden; -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0);}}
@keyframes slideOutLeft{from{-webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);} to{visibility: hidden; -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0);}}
.slideOutLeft{-webkit-animation-name: slideOutLeft; animation-name: slideOutLeft;}
@-webkit-keyframes slideOutRight{from{-webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);} to{visibility: hidden; -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0);}}
@keyframes slideOutRight{from{-webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);} to{visibility: hidden; -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0);}}
.slideOutRight{-webkit-animation-name: slideOutRight; animation-name: slideOutRight;}
@-webkit-keyframes slideOutUp{from{-webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);} to{visibility: hidden; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0);}}
@keyframes slideOutUp{from{-webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);} to{visibility: hidden; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0);}}
.slideOutUp{-webkit-animation-name: slideOutUp; animation-name: slideOutUp;}


/* media */
html{font-size: 41.6667px;}
@media screen and (min-width: 320px){html{font-size:41.6667px} body{font-size: 12px}}
@media screen and (min-width: 360px){html{font-size:46.875px} body{font-size: 12px}}
@media screen and (min-width: 375px){html{font-size:48.828px} body{font-size: 12px}}
@media screen and (min-width: 384px){html{font-size:50px} body{font-size: 14px}}
@media screen and (min-width: 400px){html{font-size:52.0833px} body{font-size: 14px}}
@media screen and (min-width: 414px){html{font-size:53.9063px} body{font-size: 14px}}
@media screen and (min-width: 424px){html{font-size:55.2083px} body{font-size: 14px}}
@media screen and (min-width: 480px){html{font-size:62.5px} body{font-size: 15.36px}}
@media screen and (min-width: 540px){html{font-size:70.3125px} body{font-size: 17.28px}}
@media screen and (min-width: 720px){html{font-size:93.75px} body{font-size: 23.04px}}
@media screen and (min-width: 750px){html{font-size:97.6563px} body{font-size: 24px}}
@media screen and (width: 768px){html{font-size:100px} body{font-size: 24px}}
@media screen and (min-width: 769px){
    html{font-size:50px} body{font-size: 14px}
    .fixed-bottom{position:fixed !important; bottom:0; max-width:768px; width:100%; left:auto; margin-left:auto;}
}
